* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    /* max-width: 100%; */
    /* overflow: hidden; */
}

html {
    font-family: "Source Code Pro", 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    background: url(../assets/codesfoque2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 38em) {
    font-size: 20px;
}

body {
    margin: 140px;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    letter-spacing: -0.025rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
}

p {
    margin: 0 0 1rem;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 0.5rem;
}

a {
    color: #fff;
    text-decoration: none
}

.masthead-title {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    /* font-size: 70px; */
    text-shadow: 0px 0px 14px #424059;
}


a:hover,
a:focus {
    color: #bfbfbf;
    text-decoration: none;
}


div.container {
    max-width: 700px;
    text-align: center;
    height: 0px;
}

div.pagediv {
    /* width: 140px;
    height: 140px; */
    background-color: rgba(255, 255, 255, 0.14);
    /* box-shadow: 0px 0px 14px #424059; */
    margin: 30px;
    border-radius: 7px
}

.container-blog {
    margin-bottom: 77px;
}

.content-list {
    margin: 30px;
}

img {
    max-width: 100%;
    height: auto;
}