# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Bonbisu
name: bonbisu
email: fernando.costa30@fatec.sp.gov.br
description: "Desenvolvedor de software |
Cursando Análise e Desenvolvimento de Sistemas pela Fatec | Python - Node.JS - C - SQL - Git - API's | Modelagem 3d com Blender, Sketchup e Vray"
# "Desenvolvedor de software Cursando Análise e Desenvolvimento de Sistemas pela Fatec. Tenho conhecimentos em Python, JavaScript(Node.JS) e C, frameworks web (Django, React, Bootstrap), SQL, API's, Git; segurança da informação e gestão de identidades; modelagem 3d com Blender, Sketchup e Vray.""
baseurl: '/blog' # the subpath of your site, e.g. /blog
url: '' # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username: bonbisu

# Build settings
markdown: kramdown
# permalink: /:categories/:year/:month/:day/:title
# permalink: /:year-:month-:day/:title
permalink: /:title
theme: minima
plugins:
    - jekyll-feed
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
